@page "/"

@code {
    private const ThemeMirrorTheme theme = ThemeMirrorTheme.Copilot;
}

<PageTitle>ProtoBuf Converter</PageTitle>

<Card>
    <CardHeader>
        <CardTitle>Convert</CardTitle>
    </CardHeader>

    <CardBody>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is1">ProtoDefinition</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is4">
                <CodeMirror6Wrapper IsWASM=true
                                    @bind-Doc=@_protoDefinition
                                    Theme=theme
                                    Language=@CodeMirrorLanguage.ProtoBuf
                                    AllowHorizontalResize=false
                                    ScrollPastEnd=false
                                    AllowVerticalResize=true />
            </FieldBody>

        </Field>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is1">Message Type</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is2">
                <Select @bind-SelectedValue="@_messageType">
                    @foreach (var messageType in _messageTypes)
                    {
                        <SelectItem Value="@messageType">@messageType</SelectItem>
                    }
                </Select>
            </FieldBody>
        </Field>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is1">Select conversion</FieldLabel>
            <Field ColumnSize="ColumnSize.Is2">
                <Select TValue="ConvertType" @bind-SelectedValue="@_selectedConvertType">
                    <SelectItem Value="ConvertType.ToJson">To Json</SelectItem>
                    <SelectItem Value="ConvertType.ToProtoBuf">To ProtoBuf</SelectItem>
                </Select>
            </Field>
        </Field>

        @if (_selectedConvertType == ConvertType.ToJson)
        {
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">ProtoBuf (Base64)</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <Validation UsePattern>
                        <TextEdit @bind-Text="@_protobufAsBase64" Pattern="^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$" />
                    </Validation>
                </FieldBody>
            </Field>

            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">Skip Grpc Header</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <Check TValue="bool" @bind-Checked="@_skipGrpcHeader" />
                </FieldBody>
            </Field>
        }
        else
        {
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">Json</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is11">
                    <CodeMirror6Wrapper IsWASM=true
                                        @bind-Doc=@_json
                                        Theme=theme
                                        Language=@CodeMirrorLanguage.Json
                                        AllowHorizontalResize=false
                                        ScrollPastEnd=false
                                        AllowVerticalResize=true />
                </FieldBody>
            </Field>

            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">Add Grpc Header</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <Check TValue="bool" @bind-Checked="@_addGrpcHeader" />
                </FieldBody>
            </Field>
        }

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is1"></FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is1">
                <Button Clicked="@OnClick" Color="Color.Primary" Disabled="@IsProcessing">Convert</Button>
            </FieldBody>
        </Field>

        @if (!string.IsNullOrEmpty(_error))
        {
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1" TextColor="TextColor.Danger">Error</FieldLabel>
                <Field Horizontal="true" ColumnSize="ColumnSize.Is11">
                    <Text TextColor="TextColor.Danger">@_error</Text>
                </Field>
            </Field>
        }

        @if (_selectedConvertType == ConvertType.ToJson)
        {
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">Json</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <CodeMirror6Wrapper IsWASM=true
                                        Editable=false
                                        ReadOnly=true
                                        @bind-Doc=@_json
                                        Theme=theme
                                        Language=@CodeMirrorLanguage.Json
                                        AllowHorizontalResize=false
                                        AllowVerticalResize=true
                                        ScrollPastEnd=false />
                </FieldBody>
            </Field>
        }
        else
        {
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">ProtoBuf (Base64)</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is11">
                    <TextEdit @bind-Text="@_protobufAsBase64" ReadOnly="true" Disabled="@IsProcessing" />
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is1">ProtoBuf (Byte Array)</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is11">
                    <CodeMirror6Wrapper IsWASM=true
                                        Editable=false
                                        ReadOnly=true
                                        @bind-Doc=@_protobufAsByteArray
                                        Theme=theme
                                        Language=@CodeMirrorLanguage.Csharp
                                        AllowHorizontalResize=false
                                        AllowVerticalResize=true
                                        ScrollPastEnd=false />
                </FieldBody>
            </Field>
        }
    </CardBody>
</Card>