@page "/weather"
@using ProtoBufJsonConverter.Models
@using JsonConverter.Abstractions
@using ProtoBufJsonConverter.Services

@inject HttpClient Http
@inject IMetadataReferenceService MetadataReferenceService;

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<pre>@_json</pre>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    private string _json = string.Empty;
    private string _protoDefinition = string.Empty;
    private string _messageType = "greet.HelloRequest";
    private string _protobufAsBase64 = "CgRzdGVm";

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        _protoDefinition = await Http.GetStringAsync("greet.proto");

        var bytes = Convert.FromBase64String(_protobufAsBase64);

        var convertToJsonRequest = new ConvertToJsonRequest(_protoDefinition, _messageType, bytes)
            .WithSkipGrpcHeader(true)
            .WithJsonConverterOptions(new JsonConverterOptions { WriteIndented = true });

        var converter = new Converter(MetadataReferenceService);

        _json = await converter.ConvertAsync(convertToJsonRequest);
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}